* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(3, 3, 24);
  width: 100%;
  color: white;
}

#main {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  margin-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#navbar {
  color: white;
}
#navbar a {
  padding-left: 10px;
  text-decoration: none;
  color: white;
}
#middle-image {
  position: relative;
  left: 250px;
}
.middle {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  padding: 30px;
}
.middle a {
  border-radius: 30px;
  background-color: hsl(198, 60%, 50%);
  padding: 20px 40px;
  margin: 30px auto;
  text-decoration: none;
  font-weight: bold;
  width: 70%;
  color: white;
}
.middle-data {
  text-align: center;
  margin: 5px;
  padding: 10px;
}
.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 20px auto;
}
.acess {
  width: 50%;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.row {
  display: flex;
}
.productive {
  display: flex;
  width: 80%;
  padding: 20px;
  margin: 40px auto;
  justify-content: space-evenly;
}

.text {
  display: block;
  width: 40%;
  margin: 20px 0px;
}
.text h1,
p,
a {
  margin: 20px 0px;
}

.productive img {
  width: 40%;
  height: auto;
}
.productive a {
  color: hsl(176, 68%, 64%);
  text-align: center;
}
.productive a img {
  width: 20px;
}
.quotes {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.squares {
  display: flex;
  margin-top: 20px;
  width: 100%;
  background-color: hsl(219, 30%, 18%);
}
.square {
  width: 33%;
  padding: 30px;
  margin: 40px;
}
.squares img {
  width: auto;
  height: 30px;
  margin-top: 20px;
  margin-right: -70px;
}
.square img {
  border-radius: 20px;
  display: block;
  text-align: center;
}

.square h6 {
  margin-top: -25px;
  width: 50%;
  margin-left: 40px;
  text-align: justify;
}
.form {
  width: 50%;
  padding: 50px;
  text-align: center;
  margin: 40px auto;
  background-color: hsl(219, 30%, 18%);
}

.footer {
  display: flex;
  width: 100%;
  padding: 40px;
  background-color: hsl(216, 53%, 9%);
  font-size: 20px;
  margin: 30px 0;
}

.bottom_row {
  display: flex;
  padding: 20px;
  margin: 30px -150px 15px;
  
}

.row_content {
  padding: 20px;
  display: flex;
  margin-right: 40px;
  width: 40%;
}
.row_content img {
  width: auto;
  height: 20px;
  margin-right: 20px;
}

.row_content0 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.row_content1 {
  padding: 20px;
  display: grid;
  margin-right: 40px;
}

.row_content0 img {
  height: 20px;
  width: 20px;
}

.bottom_row h6 {
  line-height: 20px;
}

/* @media only screen and (max-width: 780px) { 
  #main {
    width: 400%;
  }

  #navbar a {
    margin-left: 0;
  }
  #logo img {
    margin: 40px;
  }
  .middle {
    margin-right: 200px;
  }
  .middle-image {
    width: 720px;
  }
  #middle-data {
    width: 80%;
  }
  .info {
    margin-left: 400px;
  }
  .productive {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
  }
  #text {
    margin-left: -100px;
  }
  .quotes img {
    margin-left: 300px;
  }
  .squares {
    display: flex;
    flex-direction: column;
  }
  #squares1 {
    margin: 30px;
  }
  #squares2 {
    margin: 30px;
  }
  #squares3 {
    margin: 30px;
  }
  .footer {
    max-width: 100%;
  }
  .footer img {
    margin-left: 400px;
  }
  .row {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  #first_row {
    margin-left: 300px;
  }
  #secod_row {
    margin-left: 100px;
  }
  #second_row h6 {
    margin-left: 440px;
  }
}
#about {
  margin-left: 300px;
}
#contact {
  margin-left: 300px;
 */
